*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-page-background: #003152;
}

#main_page{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    font-family: serif;
    background: var(--main-page-background);
    width: 100%;
    height: 100%;
}

#title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 5vw;
}

#title img{
    width: 5vw;
    height: 5vw;
}

#join{
    color: white;
    background: none;
    outline: none;
    border: solid white 2px;
    border-radius: 50px;
    padding: 1em;
}

#game_page{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--main-page-background);
}

#loading_page{
    background: var(--main-page-background);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

#screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#waiting_tabs{
    height: 10vw;
    display: flex;
    padding: 1em;
    justify-content: space-around;
}

#promotebox{
    border-radius: 10px;
    flex-direction: row;
    position:absolute;
}

#back{
    position: absolute;
    top: 1vw;
    left: 1vw;
    font-size: 2em;
}

#board{
    flex-wrap: wrap;
    width: 48vw;
    height: 48vw;
    background: black;
}

#RefPage{
    display: flex;
    padding: 1em;
    flex-direction: column;
    width: 24vw;
    height: 48vw;
}

#MoveHistory{
    background: var(--main-page-background);
    color: white;
    width: auto;
    height: 100%;
    font-size: 1em;
    padding: 1em;
    overflow: scroll;
}

#black_clock{
    text-align: center;
    background-color: black;
    padding: 0.5em;
    color: white;
    font-size: 3vw;
}

#white_clock{
    text-align: center;
    background-color: white;
    padding: 0.5em;
    color: black;
    font-size: 3vw;
}

#winnerPage{
    padding: 1em;
    border-radius: 1vw;
    position: absolute;
    background: rgb(50,50,50);
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

#winner{
    font-size: 2.5em;
}

div[type="space"]{
    width: 6vw;
    height: 6vw;
    font-size: 3em;
}

div[type="select"]{
    width: 100%;
    height: 100%;
    background: rgba(0,255,255,0.3);
    cursor: pointer;
}

img[type="promotion"]{
    width: 6vw;
    height: 6vw;
    margin: 1vw;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}

img[type="piece"]{
    width: 6vw;
    height: 6vw;
    z-index:initial;
    cursor: pointer;
}

img[type="promotion"]:hover{
    background: cyan;
}

div[enable="true"]{
    display: flex;
}

div[enable = "false"]{
    display: none;
}

div[type = "button"]{
    color: white;
    cursor: pointer;
    margin: 1vh;
    font-size: 1em;
    padding: 1vh;
    transition: ease-in-out 0.5s;
}

div[type="button"]:hover{
    background: white;
    color: var(--main-page-background);
    border-radius: 25px;
}

.tab{
    width: 2vw;
    background: white;
    transition: ease-in-out 0.7s;
    margin: 1vw;
}

div[enable="low"]{
    height: 1vw;
}

div[enable="high"]{
    height: 4vw;
}

div[type="closebutton"]{
    cursor: pointer;
    position: absolute;
    top: 0; right: 0;
    padding: 0 0.3em 0.1em;
    margin: 0.1em;
    border-radius: 10px;
}
div[type="closebutton"]:hover{
    background: white;
    color: rgb(50,50,50)
}
